<div class="cbo-card">
    <div class="card-body">
        <div class="card-left">
            <div class="cbo-name">{{name}}</div>
        </div>
        <div class="card-right">
            {{description}}
        </div>
    </div>
    <div class="card-footer">
        <button class="card-btn btn-primary">
            <i class="fa-solid fa-fw fa-phone"></i> Call
        </button>
        <button class="card-btn btn-secondary" data-href="mailto:{{email}}">
            <i class="fa-solid fa-fw fa-envelope"></i> Email
        </button>
        <button class="card-btn btn-default" data-href="{{website}}">
            <i class="fa-solid fa-fw fa-globe"></i> Website
        </button>
    </div>
</div>